* {
  box-sizing: border-box;
  /* border: solid rebeccapurple; */
}

html {
  font-size: 62.5%;
}

:root {
  --fs-1: 6rem;
  --fs-2: 4rem;
  --fs-3: 1.4rem;
}

@media (max-width: 48rem) {
  :root {
    --fs-1: 3rem;
    --fs-2: 2.2rem;
    --fs-3: 1rem;
  }
}

body {
  background-color: black;
  color: aliceblue;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* ---------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98vw;
  padding: 0.5rem 2rem;
  border-bottom: solid 0.3rem purple;
}

h1 {
  font-size: var(--fs-1);
  margin: 0.5rem;
}

.customFont {
  /* estonia-regular  */
  font-family: "Estonia", serif;
  font-weight: 400;
  font-style: normal;
}

.flexGrow {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}

.centerBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.year {
  color: red;
}

.burn {
  font-size: var(--fs-1);
  color: darkred;
}

.today {
  color: magenta;
  text-shadow: 0.2rem 0.2rem 0.8rem purple;
}

.dotw {
  font-size: var(--fs-2);
  color: purple;
}

.todayGlow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  color: black;
  font-size: var(--fs-1);
  font-weight: bolder;
  text-shadow: 0 0 1rem rgb(255, 50, 255);
  border-radius: 100%;
  border-left: solid 0.2rem aquamarine;
  /* animation: glow 5s linear infinite alternate; */
  /* box-shadow: 0 0 10rem 0.05rem rgb(29, 210, 223); */
  /* border: solid 0.05rem rgb(0, 87, 87); */
}

.clock {
  font-size: var(--fs-1);
  color: rgb(0, 178, 178);
  min-width: 22rem;
  text-shadow: 0.2rem 0.2rem 0.8rem teal;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 1rem rgb(255, 0, 174);
  }
  25% {
    text-shadow: 0 0 1rem gold;
  }
  50% {
    text-shadow: 0 0 1rem rgb(0, 207, 62);
  }
  75% {
    text-shadow: 0 0 1rem rgb(200, 112, 251);
  }
  100% {
    text-shadow: 0 0 1rem rgb(65, 184, 248);
  }
}
/* ---------------------------- */

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 97vw;
  min-height: 80vh;
}

/* ---------------------------- */

.menu {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  height: 75vh;
  margin: 2rem;
  border: 1rem solid teal;
  border-radius: 2rem;
}

.menuHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  border-bottom: 0.3rem solid darkgreen;
  margin: 0.5rem;
  color: darkgreen;
}

.menuBtns {
  display: flex;
  flex-wrap: wrap;
}

.menuBtn {
  font-size: var(--fs-1);
  color: black;
  text-shadow: 0 0 0.6rem whitesmoke;
  margin: 1rem;
}

/* ---------------------------- */

.contentDisplay {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.designDisplay {
  display: flex;
  flex-grow: 0;
  height: 85vh;
  min-width: 20rem;
  padding: 2rem 0 0 1rem;
}
